 /* body{
    font-family: 'Poppins', sans-serif;
}

#my-navigation{
    background:none;
    border:none;
    width:100%;
    position:absolute;
    z-index: 10;

}
#my-navigation .navbar-toggle{
    display:block;
    border:0;
    
}

#my-navigation .navbar-toggle:hover{
    background: none;
    cursor: pointer;
}

#my-navigation .navbar-header{
    float:none;
} 
#my-navigation .icon-bar{
    background-color: #fff;
}

#my-navigation .navbar-right{
    float:left !important ;
}

#my-navigation .icon-bar-left{
    float:left;
}

#my-navigation .icon-right{
    float:right;
    padding-left:10px;
    position:relative;
    top:-3px;
    color:#fff;
}

#my-navigation .navbar-brand,#my-navigation ul li a{
    color:#fff;
}

.my-container{
    padding:0px;
    color:#fff;
}

.carousel .item{
    background-image: url(../images/slide01.jpg);
    width:100vw;
    height:100vh;
    background-size: cover;
    
}

.carousel .item-2{
    background-image: url(../images/slide02.jpg);
}
.carousel .item-3{
    background-image: url(../images/slide03.jpg);
}
.carousel .item-4{
    background-image: url(../images/slide04.jpg);
}
.carousel .item-5{
    background-image: url(../images/slide05.jpg);
}

.banner-text{
    position:absolute;
    top:40%;
    right:35%;
    z-index: 20;
    text-align: center
}



.two-section{
    padding:70px 0px;
}
.two-section img{
    width:100%;
}

.two-section .first ,.two-section .second{
    width:95%;
}
.two-section .second{
    margin-left:5%;
}  

dggrrrgg */

*{
    /* border:1px solid yellow; */
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #dfdfdf;
}


#my-navigation{
    position:absolute;
    z-index: 10;
    width:99%; 
    background: none;
    border:none;
}
.my-container{
    padding: 0px;
    color:#fff;
}
#my-navigation .navbar-toggle{
    display: block;
    border: none;
}
#my-navigation .navbar-toggle:hover{
   cursor:pointer; 
   background: none;
}
#my-navigation .navbar-header{
    float:none;  
}
#my-navigation .icon-bar{
    background-color: #fff;
}
#my-navigation .icon-left{
    float:left;
}
#my-navigation .icon-right{
    float:right;
    padding-left:10px;
    position:relative;
    top:-3px;
    color:#fff;
}
#my-navigation .navbar-brand , #my-navigation ul li a{
    color:#fff;
}

.my-collapse{
    float:left;
}
/* carouser start here */
.carousel .item{
    background-image: url(../images/slide01.jpg);
    width:100vw;
    height:100vh;
    background-size: cover;
} 
.item-2{
    background-image: url(../images/slide02.jpg);
}
.item-3{
    background-image: url(../images/slide03.jpg);
}
.item-4{
    background-image: url(../images/slide04.jpg);
}
.item-5{
    background-image: url(../images/slide05.jpg);
} 

/* banner section */
 .banner-text{
    margin:0 auto;
}
.banner-middle{
    width:100%;
    position: absolute;
    top:50%;
    text-align: center;
    transform: translate(-100);
}
.banner-text p{
    letter-spacing: 3px;
    font-size:10px;
    font-weight: 100;
}

.banner-text hr{
    width:200px;
}

.banner-text h2{
    font-size:80px;
    margin:5px 0;
    font-weight: 300;
}

.two-photo-container{
    padding-top: 50px;
    padding-bottom: 50px;
}

.two-photo-container img{
    width:100%; 
}
.two-photo-container h2{
    letter-spacing: 3px;
    font-size:11px;
    font-weight: 300;
    margin-top: 50px;
    color:gray;
}
.two-photo-container hr{
    max-width:180px;
}
.two-photo-container h3{
    font-size: 25px;
    font-weight: 400;
}

.two-photo-container p{
    text-align: left;
    padding-left:30px;
    font-size: 15px;
    color:gray;
}

.two-photo-container button{
    width:130px;
    height:40px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border:none;
    border:1px solid gray;
    margin: 50px 0px;
}

.two-photo-container .photo1{
    width:95%;
    background-color: #fff;
}
.two-photo-container .photo2{
    width:95%;
    margin-left: 5%;
    background-color: #fff;

}


/* fullwidth smallbox */
.backgroundimg{
    width:100%;
    text-align: center;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color:#fff;
    padding:50px 0px;   
    margin-bottom: 30px;
}

.center{
    text-align: center;
    padding:50px 0px;
}

.same p{
    font-size:10px;
    letter-spacing: 3px;
    font-weight: 200;
}

.same hr{
    max-width:500px;
}

.same h3{
    font-weight: 400;
    font-size: 25px;
}
.four-img img{
    width:95%;
    float:left;
    margin-bottom: 10%;
    border: 5px solid #fff;
}

.img-left{
    margin-left: 5%
}

.footer{
    text-align: center;
    background-color:black;
    color:gray;
    padding:20px 0px;
}
.footer span{
    padding: 10px;
    color:gray;
    font-size: 20px;
}


@media only screen and (max-width:800px){
    .my-collapse ul li a{
        padding-left:30px;
        
    }
    .two-photo-container .photo1{
        width:95%;
        margin:0px;
        padding:0px;
        
    }
    .two-photo-container .photo1{
        width:100%;
        margin-bottom: 50px;
        
    }
    .two-photo-container .photo2{
        width:100%;
        margin-left:0px;
    }
    .four-img img{
        width:100%;
        float:none;
        margin-bottom: 10%;
    }
    
    .img-left{
        margin-left:0px
    }
}

